@import "tailwindcss";
@import "@repo/design-system/styles/globals.css";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

html {
  scroll-behavior: auto;
  scroll-padding-top: calc(
    var(--fd-nav-height, 56px) + var(--fd-banner-height, 0px) +
      var(--fd-tocnav-height, 0px) + 24px
  );
}

html:not([data-anchor-scrolling]) {
  scroll-behavior: smooth;
}
